<div class="container">
  <div class="card">
    <div class="card-body">
        <div class="card-title">
            Tasks
            <button class="pull-right btn btn-primary" (click)="addTask()">
              <i class="material-icons">add</i>
            </button>
          </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-title">
            Pending
          </div>
          <div class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th (click)="sortPending('id')">Id</th>
                  <th (click)="sortPending('name')">Name</th>
                  <th (click)="sortPending('priority')">Priority</th>
                  <th (click)="sortPending('dueDate')">Due</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pendingTaskService.data" [ngClass]="{'text-danger':item.alert}">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.priority}}</td>
                  <td>{{item.dueDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-pager [entityService]="pendingTaskService"></app-pager>
        </div>
        <div class="col-md-6">
            <div class="card-title">
              OverDue
            </div>
            <div class="card-text">
              <table class="table">
                <thead>
                  <tr>
                    <th (click)="sortDue('id')">Id</th>
                    <th (click)="sortDue('name')">Name</th>
                    <th (click)="sortDue('priority')">Priority</th>
                    <th (click)="sortDue('dueDate')">Due</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dueTaskService.data" class="text-danger">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.priority}}</td>
                    <td>{{item.dueDate | date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-pager [entityService]="dueTaskService"></app-pager>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="create" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a Task</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="task.name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Priority</label>
            <input type="number" class="form-control" [(ngModel)]="task.priority">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Due</label>
            <input type="datetime-local" class="form-control" [(ngModel)]="task.dueDate">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveTask()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>