<div class="text-center">
    <button type="button" rel="tooltip" title="Prev" 
      (click)="prev($event)" 
      [ngClass]="{'btn-danger':!first}"
      class="btn btn-simple btn-xs">
      <i class="material-icons">chevron_left</i>
    </button>
    <button type="button" rel="tooltip" title="Select Page" 
      class="btn btn-danger btn-simple btn-xs" (click)="navigate(page)"
      *ngFor="let page of pages">
      <i *ngIf="page === current"><u>{{page}}</u></i>
      <i *ngIf="page !== current">{{page}}</i>
    </button>
    <button type="button" rel="tooltip" title="Next" 
      (click)="next($event)"
      [ngClass]="{'btn-danger':!last}"
      class="btn btn-simple btn-xs">
      <i class="material-icons">chevron_right</i>
    </button>
  </div>